.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: whitesmoke;
    color: rgb(69, 30, 105);
    font-size: 23px;
}
.navbar a{
    text-decoration: none;
}
body{

    margin: 0%;
    background-image: url("https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/64f5dd642638a92e7481b053_Rectangle%20(70).svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar select{
    border: none;
    font-size: 18px;
    color: rgb(69, 30, 105);
    background-color: whitesmoke;
}
.section_content h1{
    text-align: center;
}
.inputbox{
    padding: 4px;
    border-radius: 25px;
    border: 1px solid gray;

}
.searchbotton{
    border: none;
}
.fa-magnifying-glass{
    font-size: 17px;
}
.tablesection {
    margin: 50px auto;
    width: 60%;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }
 
 .tablecontenth1 {
    text-align: center;
    color: #333333;
    font-size: 2rem;
    margin-bottom: 20px;
 }
 .tablebody{
    margin: 50px auto;
    padding: 2px;
 }
 .tablebody tr,td,th{
    padding: 10px;
    font-size: 20px;
 }
