body {
    background-image: url("https://nkgadyar.scientificstudy.in/images/LoginPage/loginImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d9f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}
.divbody{
    width: 40%;
    margin-left: 10%;
}
.h1tag {
    margin-top: 20px;
    margin-right: 36%;
    color: #542694;
    font-size: 3rem;
}

.h2tag {
    color: #333;
    font-size: 1.8rem;
    margin: 20px 0;
    line-height: 1.5;
}

.welcomep a {
    border: 3px solid #542694;
    padding: 6px 12px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: #542694;
    font-size: 25px;
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.welcomep a:hover {
    background-color: transparent;
    color: #542694;
}
