{% extends 'dashboard.html' %}
{% block addcss %}
    <title>file</title>
    <link rel="stylesheet" href="/static/common.css">
{% endblock %}   
{% block content %}
    <section class="commonsection">
        <h1 class="commoncontenth1">Upload File</h1>
        <div class="commoncontent">
            <form method="POST" enctype="multipart/form-data">
            <h3>File</h3>
            <p><input type="file" name="file" class="forminput" accept=".jpg, .png, .pdf, .txt, .docx"/></p>
            <p><button class="formbutton">Add File</button></p>
            </form>
        </div>
    </section>
{% endblock %}