{% extends 'dashboard.html' %}
{% block addcss %}
    <title>View</title>
    <link rel="stylesheet" href="/static/commontable.css">
{% endblock %}   
{% block content %}
<div class="tablesection">
    <h1 class="tablecontenth1">View All Files</h1>
    <table border="1px" class="tablebody">
        <thead>
            <tr>
                <th>Fileid</th>
                <th>File Name</th>
                <th>Created At</th>
                <th>View</th>
                <th>Download</th>
                <th>Delete</th> 
            </tr>
        </thead>
        <tbody>
            {% for i in result %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td><a href="{{url_for("viewfile",uid=i[0])}}">View</a></td>
                <td><a href="{{url_for("download",uid=i[0])}}">Download</a></td>
                <td><a href="{{url_for("deletefile",uid=i[0])}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}