{% extends 'dashboard.html' %}
{% block addcss %}
    <title>viewnotes</title>
    <link rel="stylesheet" href="/static/common.css">
{% endblock %}   
{% block content %}
    <section class="commonsection">
        <div class="commoncontent">
            <form method="POST">
            <h2>Title:</h2>
            <p class="forminput">{{notes[1]}}</p>
            <h2>Description:</h2>
            <p class="forminput">{{notes[2]}}</p>
            <h4>Created At:{{notes[3]}}</h4>
        </div>
    </section>
{% endblock %}